#body_1 {
    background-color: rgb(30, 2, 131);
}

#cor_1{
    color:rgb(236, 20, 4);
}

#teste_1 {
    color:rgb(255, 115, 0);
    font-size:60px
}

#body_2 {
    background-color: rgb(2, 127, 131);
}

#cor_2{
    color:rgb(27, 65, 15);
}

#teste_2 {
    color:rgb(102, 255, 0);
    font-size:60px
}

#body_3 {
    background-color: rgb(63, 6, 55);
}

#cor_3{
    color:rgb(151, 25, 209);
}

#teste_3 {
    color:rgb(119, 0, 255);
    font-size:60px
}

#body_4 {
    background-color: rgb(5, 21, 39);
}

#cor_4{
    color:rgb(66, 77, 180);
}

#teste_4 {
    color:rgb(0, 174, 255);
    font-size:60px
}

#body_5 {
    background-color: rgb(25, 26, 2);
}

#cor_5{
    color:rgb(128, 129, 54);
}

#teste_5 {
    color:rgb(252, 247, 0);
    font-size:60px
}
